[data-component="wysiwyg"] {
	font-size: 1.3rem;
	line-height: 1.15;
	font-weight: 300;

	> * {
		margin-top: 1rem;

		&:first-child {
			margin-top: 0;
		}
	}

	> p { 
		text-indent: 1.5rem;
	}
	> p > code {
		font-family: monospace;
		text-indent: 0;
	}

	a {
		color: var(--color-accent);
	}
}